
# comma-separated when you have several keys
JOOBLE_API_KEYS=
JSEARCH_API_KEYS=

# ADLS upload (pipeline/landing/upload_to_adls.py)
# SAS scoped to the container, with Read, Write, Create and List permissions
ADLS_ACCOUNT_NAME= stjobdata26
ADLS_CONTAINER=raw
ADLS_SAS_TOKEN= sp=racwl&st=2026-09-24T17:53:03Z&se=2026-10-04T02:08:03Z&spr=https&sv=2026-02-06&sr=c&sig=t4ja5hBY%2BqIe5xrOsZ5X%2FrJz6oB2fsX%2F5C4RKqrE6bw%3D
