
# comma-separated when you have several keys
JOOBLE_API_KEYS= 91d913db-a0f1-4d18-8194-13da75cc8511
JSEARCH_API_KEYS= ak_awxud6j8czczg9kye7v0s7z6j18opxox2r8hywpuylqb1vr,ak_v2s24eg5a56u3xqwaw4hfwsp0iz27r258bpf77qp6ov03gi,ak_263wqfkae94pddqetq9128l3340wp4xn8avlttpiwn9xsjn,ak_1s4uxbyny9hxs4mjewdo6yeyai599exzyvxhkih1zla9hzf


# ADLS upload (pipeline/landing/upload_to_adls.py)
# SAS scoped to the container, with Read, Write, Create and List permissions
ADLS_ACCOUNT_NAME= stjobdata26
ADLS_CONTAINER=raw
ADLS_SAS_TOKEN= sp=racwl&st=2026-09-24T17:53:03Z&se=2026-10-04T02:08:03Z&spr=https&sv=2026-02-06&sr=c&sig=t4ja5hBY%2BqIe5xrOsZ5X%2FrJz6oB2fsX%2F5C4RKqrE6bw%3D
